<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web RTC</title>
</head>
<body>
    <button id="btn-start">Start Streaming</button>
     <video id="localStream" width="300" controls></video>
     <button id="btn-hu">Hang Up</button>
     <script src="/js/bundle.js"></script>
</body>
</html>